.cabecalho {
    background-image: -o-linear-gradient(red,brown);
    color: black;
    display: flex;
    padding: 24px;
    
}

.saction1 {
    background-color: brown;
    padding: 100px;
}

section2 {
    background-color: blue;
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: orangered;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: black;
    color: white;
}